<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoviePlanet - Inicio</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">
          <h1 class="brand">MoviePlanet</h1>
        </a>

        <ul>
          <li>
            <a href="/">Inicio</a>
          </li>

          <li>
            <a href="">Series</a>
          </li>

          <li>
            <a href="">Peliculas</a>
          </li>

          <li>
            <a href="">Novedades populares</a>
          </li>

          <li>
            <a href="">Mi lista</a>
          </li>

          <li>
            <a href="">Explora por idiomas</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="trading-now">
        <h2>Trading now</h2>

        <section class="movies">
          <article>
            <img
              src="https://resizing.flixster.com/C37haWxoxG5HqqIx3RRrc8N047k=/fit-in/352x330/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p11682476_b_h8_af.jpg"
            />

            <section class="movie-top" aria-label="Pelicula en tendencia">
              <span>TOP</span>
              <span>10</span>
            </section>
          </article>

          <article>
            <img
              src="https://resizing.flixster.com/C37haWxoxG5HqqIx3RRrc8N047k=/fit-in/352x330/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p11682476_b_h8_af.jpg"
            />

            <section
              class="movie-top"
              aria-label="Nueva temporada de esta serie"
            >
              <span>New season</span>
            </section>
          </article>

          <article>
            <img
              src="https://resizing.flixster.com/C37haWxoxG5HqqIx3RRrc8N047k=/fit-in/352x330/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p11682476_b_h8_af.jpg"
            />
          </article>

          <article>
            <img
              src="https://resizing.flixster.com/C37haWxoxG5HqqIx3RRrc8N047k=/fit-in/352x330/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p11682476_b_h8_af.jpg"
            />
          </article>
        </section>
      </section>

      <section id="movies-top">
        <h2>Las 10 peliculas mås populares en Argentina hoy</h2>

        <section>
          <article>
            <span>1</span>
            <img
              src="https://resizing.flixster.com/C37haWxoxG5HqqIx3RRrc8N047k=/fit-in/352x330/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p11682476_b_h8_af.jpg"
            />
          </article>

          <article>
            <span>2</span>
            <img
              src="https://resizing.flixster.com/C37haWxoxG5HqqIx3RRrc8N047k=/fit-in/352x330/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p11682476_b_h8_af.jpg"
            />
          </article>

          <article>
            <span>3</span>
            <img
              src="https://resizing.flixster.com/C37haWxoxG5HqqIx3RRrc8N047k=/fit-in/352x330/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p11682476_b_h8_af.jpg"
            />
          </article>

          <article>
            <span>4</span>
            <img
              src="https://resizing.flixster.com/C37haWxoxG5HqqIx3RRrc8N047k=/fit-in/352x330/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p11682476_b_h8_af.jpg"
            />
          </article>
        </section>
      </section>
    </main>

    <footer>
      <p>MoviePlanet. 2025</p>
    </footer>
  </body>
</html>
